* {
  margin: 0;
  padding: 0;
}
:root {
  --background: #ffdad7;
  --backtwo: #190c66;
}

.homemain {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to left,
    var(--background) 50%,
    var(--backtwo) 50%
  );
}

.navlist {
  list-style: none;
  display: flex;

  background: linear-gradient(
    to left,
    var(--background) 50%,
    var(--backtwo) 50%
  );
  width: 100vw;
}
li {
  margin: 3rem;
}

.bluelink {
  color: var(--background);
}
.pinklink {
  color: var(--backtwo);
}

@media all and (max-width: 600px) {
  .homemain {
    background: linear-gradient(
      to bottom,
      var(--background) 50%,
      var(--backtwo) 50%
    );
  }
}
